body{
  background-image:url("../img/cover50.jpg");
  background-repeat:no-repeat;
  background-position:bottom;
  background-size:auto;
  background-attachment: fixed;
}

nav{
  width:100%;
}

.center{
  margin:auto;
  padding:10px;
}

.icon-color{
  color:black;
}

.icon-color2{
  color:gray;
}
